*.fq.gz
*~
*.fastq.gz
*.zip
*.pdf
*.RData
*.Rdata
*.snakemake
*Snakefile.swp
*/benchmarks/
GRCh37_75/
index/
annotation/
geuvadis/
personalized_simulation/NA12716_7/alignments/
personalized_simulation/NA12716_7/rsem/sim/

*_cache/
*/sim/
*_files/

*genes.results
*.cnt
*.theta

seqc/sub
seqc/data
seqc/results
seqc/prep.sh

simulations/NA*/rsem/sim/*
.Rhistory
